
self/.DS_Store
self/jupyter/.ipynb_checkpoints/20162016_2-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/20162016_copy-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/_6-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/covariation_vs_correlation-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/lesson_2-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/lesson_6-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/lesson_8-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/Matplotlib-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/MRG-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/Numpy-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/Numpy-Copy1-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/pandas-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/test-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/Untitled-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/Untitled2-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/Untitled3-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/Untitled4-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/Untitled5-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/Untitled6-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/Web02-checkpoint.ipynb
self/jupyter/.ipynb_checkpoints/Web03-checkpoint.ipynb
self/jupyter/20162016_2.ipynb
self/jupyter/20162016_copy.ipynb
self/jupyter/_6.ipynb
self/jupyter/algoritm/.ipynb_checkpoints/haffman-checkpoint.ipynb
self/jupyter/algoritm/.ipynb_checkpoints/lesson_3-checkpoint.ipynb
self/jupyter/algoritm/.ipynb_checkpoints/median-checkpoint.ipynb
self/jupyter/algoritm/.ipynb_checkpoints/task_8_2-checkpoint.ipynb
self/jupyter/algoritm/.ipynb_checkpoints/test_8_1-checkpoint.ipynb
self/jupyter/algoritm/.ipynb_checkpoints/Untitled-checkpoint.ipynb
self/jupyter/algoritm/haffman.ipynb
self/jupyter/algoritm/lesson_3.ipynb
self/jupyter/algoritm/median.ipynb
self/jupyter/algoritm/task_8_2.ipynb
self/jupyter/algoritm/test_8_1.ipynb
self/jupyter/algoritm/Untitled.ipynb
self/jupyter/bm_price.png
self/jupyter/book_info.pkl
self/jupyter/boxplot.png
self/jupyter/California_Map.png
self/jupyter/cluist/.ipynb_checkpoints/001Clust-checkpoint.ipynb
self/jupyter/cluist/001Clust.ipynb
self/jupyter/cluist/array_.pdf
self/jupyter/covariation_vs_correlation.ipynb
self/jupyter/data/info.xlsx
self/jupyter/gei/.ipynb_checkpoints/Курсовик-checkpoint.ipynb
self/jupyter/gei/data.xlsx
self/jupyter/gei/full.xlsx
self/jupyter/gei/Курсовик.ipynb
self/jupyter/housing.csv
self/jupyter/info — копия (2).xlsx
self/jupyter/info.csv
self/jupyter/info.xlsx
self/jupyter/k_task/.ipynb_checkpoints/RozhnovVA-checkpoint.ipynb
self/jupyter/k_task/.ipynb_checkpoints/web_6-checkpoint.ipynb
self/jupyter/k_task/RozhnovVA — копия.ipynb
self/jupyter/k_task/RozhnovVA.ipynb
self/jupyter/k_task/task.csv
self/jupyter/k_task/test.csv
self/jupyter/k_task/train.csv
self/jupyter/k_task/VRozhnov_predictions.csv
self/jupyter/k_task/web_6.ipynb
self/jupyter/k_task/ИК Базы данных. Урок 8. Презентация..pptx
self/jupyter/lesson_2.ipynb
self/jupyter/lesson_5_6/.ipynb_checkpoints/Web03-checkpoint.ipynb
self/jupyter/lesson_5_6/.ipynb_checkpoints/web_6-checkpoint.ipynb
self/jupyter/lesson_5_6/boxplot.png
self/jupyter/lesson_5_6/California_Map.png
self/jupyter/lesson_5_6/Web03.ipynb
self/jupyter/lesson_5_6/web_6.ipynb
self/jupyter/lesson_5_6/webinar_materials.zip
self/jupyter/lesson_6.ipynb
self/jupyter/lesson_7/.ipynb_checkpoints/Web04-checkpoint.ipynb
self/jupyter/lesson_7/.ipynb_checkpoints/web_8-checkpoint.ipynb
self/jupyter/lesson_7/bin_class.png
self/jupyter/lesson_7/bin_class2.jpg
self/jupyter/lesson_7/lin_reg.png
self/jupyter/lesson_7/ml.png
self/jupyter/lesson_7/SuperUnsuper.png
self/jupyter/lesson_7/Web04.ipynb
self/jupyter/lesson_7/web_8.ipynb
self/jupyter/lesson_7/webinar_materials.zip
self/jupyter/lesson_7/Заявление на расторжение договора ЮЛ и ИП (с приложением).docx
self/jupyter/lesson_8.ipynb
self/jupyter/math/.ipynb_checkpoints/lesson_1-checkpoint.ipynb
self/jupyter/math/.ipynb_checkpoints/lesson_3-checkpoint.ipynb
self/jupyter/math/ht3.pdf
self/jupyter/math/lesson_1.ipynb
self/jupyter/math/lesson_3.ipynb
self/jupyter/math/stat/.ipynb_checkpoints/lesson_1-checkpoint.ipynb
self/jupyter/math/stat/img31.JPG
self/jupyter/math/stat/img7.JPG
self/jupyter/math/stat/img71.JPG
self/jupyter/math/stat/lesson_1.ipynb
self/jupyter/Matplotlib.ipynb
self/jupyter/metods/.ipynb_checkpoints/lesson_2-checkpoint.ipynb
self/jupyter/metods/.ipynb_checkpoints/lesson_3-checkpoint.ipynb
self/jupyter/metods/.ipynb_checkpoints/lesson_33-checkpoint.ipynb
self/jupyter/metods/.ipynb_checkpoints/lesson_4-checkpoint.ipynb
self/jupyter/metods/.ipynb_checkpoints/lesson_4-Copy1-checkpoint.ipynb
self/jupyter/metods/.ipynb_checkpoints/lesson_8-checkpoint.ipynb
self/jupyter/metods/.ipynb_checkpoints/mongo-checkpoint.ipynb
self/jupyter/metods/.ipynb_checkpoints/Untitled-checkpoint.ipynb
self/jupyter/metods/__pycache__/mysql_connector.cpython-37.pyc
self/jupyter/metods/lesson_2 — копия.ipynb
self/jupyter/metods/lesson_2.ipynb
self/jupyter/metods/lesson_3.ipynb
self/jupyter/metods/lesson_33.ipynb
self/jupyter/metods/lesson_4-Copy1.ipynb
self/jupyter/metods/lesson_4.ipynb
self/jupyter/metods/lesson_8.ipynb
self/jupyter/metods/mongo.ipynb
self/jupyter/metods/mysql_connector.py
self/jupyter/metods/sb.csv
self/jupyter/metods/Untitled.ipynb
self/jupyter/MRG.ipynb
self/jupyter/Numpy-Copy1.ipynb
self/jupyter/Numpy.ipynb
self/jupyter/other_files/creditcard — копия — копия.csv
self/jupyter/other_files/creditcard.csv
self/jupyter/other_files/creditcard1.csv
self/jupyter/output.xlsx
self/jupyter/output1.xlsx
self/jupyter/output2.xlsx
self/jupyter/pandas.ipynb
self/jupyter/pics/tree.dot
self/jupyter/pics/tree_p.dot
self/jupyter/pics/tree_p.png
self/jupyter/project_task.zip
self/jupyter/teoria_veroyatn/.ipynb_checkpoints/lesson_1-checkpoint.ipynb
self/jupyter/teoria_veroyatn/.ipynb_checkpoints/lesson_2-checkpoint.ipynb
self/jupyter/teoria_veroyatn/.ipynb_checkpoints/lesson_3-checkpoint.ipynb
self/jupyter/teoria_veroyatn/.ipynb_checkpoints/lesson_4-checkpoint.ipynb
self/jupyter/teoria_veroyatn/.ipynb_checkpoints/lesson_5-checkpoint.ipynb
self/jupyter/teoria_veroyatn/.ipynb_checkpoints/lesson_6-checkpoint.ipynb
self/jupyter/teoria_veroyatn/.ipynb_checkpoints/lesson_7-checkpoint.ipynb
self/jupyter/teoria_veroyatn/.ipynb_checkpoints/lesson_8-checkpoint.ipynb
self/jupyter/teoria_veroyatn/lesson_1.ipynb
self/jupyter/teoria_veroyatn/lesson_2.ipynb
self/jupyter/teoria_veroyatn/lesson_3.ipynb
self/jupyter/teoria_veroyatn/lesson_4.ipynb
self/jupyter/teoria_veroyatn/lesson_5.ipynb
self/jupyter/teoria_veroyatn/lesson_6.ipynb
self/jupyter/teoria_veroyatn/lesson_7.ipynb
self/jupyter/teoria_veroyatn/lesson_8.ipynb
self/jupyter/test.ipynb
self/jupyter/tree.dot
self/jupyter/Untitled.ipynb
self/jupyter/Untitled1.ipynb
self/jupyter/Untitled2.ipynb
self/jupyter/Untitled3.ipynb
self/jupyter/Untitled4.ipynb
self/jupyter/Untitled5.ipynb
self/jupyter/Untitled6.ipynb
self/jupyter/Web02.ipynb
self/jupyter/Web03.ipynb
self/jupyter/~$info — копия.xlsx
self/jupyter/~$info.xlsx
self/jupyter/ЛинАлгебра/.ipynb_checkpoints/Lesson_1-checkpoint.ipynb
self/jupyter/ЛинАлгебра/.ipynb_checkpoints/Lesson_2-checkpoint.ipynb
self/jupyter/ЛинАлгебра/.ipynb_checkpoints/Lesson_3-checkpoint.ipynb
self/jupyter/ЛинАлгебра/.ipynb_checkpoints/Lesson_4-checkpoint.ipynb
self/jupyter/ЛинАлгебра/.ipynb_checkpoints/Lesson_5-checkpoint.ipynb
self/jupyter/ЛинАлгебра/.ipynb_checkpoints/Lesson_6-checkpoint.ipynb
self/jupyter/ЛинАлгебра/.ipynb_checkpoints/Lesson_7-checkpoint.ipynb
self/jupyter/ЛинАлгебра/Lesson_1.ipynb
self/jupyter/ЛинАлгебра/Lesson_2.ipynb
self/jupyter/ЛинАлгебра/Lesson_3.ipynb
self/jupyter/ЛинАлгебра/Lesson_4.ipynb
self/jupyter/ЛинАлгебра/Lesson_5.ipynb
self/jupyter/ЛинАлгебра/Lesson_6.ipynb
self/jupyter/ЛинАлгебра/Lesson_7.ipynb
1_quarter/Python для Data Science/lesson_10/.ipynb_checkpoints/RozhnovVA-checkpoint.ipynb
1_quarter/Python для Data Science/lesson_10/RozhnovVA.ipynb
3_quarter/.DS_Store
3_quarter/LybraryPythonFirDataScienceNext/.DS_Store
3_quarter/LybraryPythonFirDataScienceNext/course_project/.DS_Store
3_quarter/LybraryPythonFirDataScienceNext/course_project/.ipynb_checkpoints/RozhnovVA_solution-checkpoint.ipynb
3_quarter/LybraryPythonFirDataScienceNext/course_project/.ipynb_checkpoints/RozhnovVA_solution-Copy1-checkpoint.ipynb
3_quarter/LybraryPythonFirDataScienceNext/course_project/course_project_test.csv
3_quarter/LybraryPythonFirDataScienceNext/course_project/course_project_train.csv
3_quarter/LybraryPythonFirDataScienceNext/course_project/RozhnovVA_solution-Copy1.ipynb
3_quarter/LybraryPythonFirDataScienceNext/course_project/RozhnovVA_solution.ipynb
self/.ipynb_checkpoints/5. Обучение без учителя в Scikit-learn-checkpoint.ipynb
self/5. Обучение без учителя в Scikit-learn.ipynb
self/jupyter/.DS_Store
self/jupyter/.ipynb_checkpoints/курсовой_проект_preprocessing-checkpoint.ipynb
self/jupyter/курсовой_проект_preprocessing.ipynb
.DS_Store
1_quarter/Python для Data Science/lesson_10/RozhnovVA.ipynb
3_quarter/.DS_Store
3_quarter/LybraryPythonFirDataScienceNext/course_project/RozhnovVA_solution.ipynb
3_quarter/LybraryPythonFirDataScienceNext/course_project/RozhnovVA_solution.ipynb
3_quarter/.DS_Store
1_quarter/Python для Data Science/lesson_10/RozhnovVA.ipynb
1_quarter/Python для Data Science/lesson_10/RozhnovVA.ipynb
3_quarter/LybraryPythonFirDataScienceNext/4/catboost_info/catboost_training.json
3_quarter/LybraryPythonFirDataScienceNext/4/bias.png
3_quarter/LybraryPythonFirDataScienceNext/4/.ipynb_checkpoints/Lesson04-checkpoint.ipynb
3_quarter/LybraryPythonFirDataScienceNext/3/Untitled.ipynb
3_quarter/LybraryPythonFirDataScienceNext/3/training_project_train_part_b.csv
3_quarter/LybraryPythonFirDataScienceNext/3/training_project_train_full.csv
3_quarter/LybraryPythonFirDataScienceNext/3/training_project_test_part.csv
3_quarter/LybraryPythonFirDataScienceNext/3/training_project_data_prep.csv
3_quarter/LybraryPythonFirDataScienceNext/3/training_project_data.csv
3_quarter/LybraryPythonFirDataScienceNext/3/svm.png
3_quarter/LybraryPythonFirDataScienceNext/3/scaler.pkl
3_quarter/LybraryPythonFirDataScienceNext/3/rf.jpg
3_quarter/LybraryPythonFirDataScienceNext/3/log_reg.png
3_quarter/LybraryPythonFirDataScienceNext/3/Lesson03.ipynb
3_quarter/LybraryPythonFirDataScienceNext/3/Lesson03.html
3_quarter/LybraryPythonFirDataScienceNext/3/knn.png
3_quarter/LybraryPythonFirDataScienceNext/4/training_project_train_part_b.csv
3_quarter/LybraryPythonFirDataScienceNext/4/training_project_train_full.csv
3_quarter/LybraryPythonFirDataScienceNext/4/training_project_test_part.csv
3_quarter/LybraryPythonFirDataScienceNext/4/training_project_data_prep.csv
3_quarter/LybraryPythonFirDataScienceNext/4/training_project_data.csv
3_quarter/LybraryPythonFirDataScienceNext/4/overfitting.svg
3_quarter/LybraryPythonFirDataScienceNext/4/model.pkl
3_quarter/LybraryPythonFirDataScienceNext/4/Lesson04.ipynb
3_quarter/LybraryPythonFirDataScienceNext/4/Lesson04.html
3_quarter/LybraryPythonFirDataScienceNext/4/catboost_info/time_left.tsv
3_quarter/LybraryPythonFirDataScienceNext/4/catboost_info/learn_error.tsv
3_quarter/LybraryPythonFirDataScienceNext/4/catboost_info/learn/events.out.tfevents
3_quarter/LybraryPythonFirDataScienceNext/course_project/final/catboost_info/learn/events.out.tfevents
3_quarter/LybraryPythonFirDataScienceNext/course_project/final/catboost_info/catboost_training.json
3_quarter/LybraryPythonFirDataScienceNext/course_project/final/.ipynb_checkpoints/RozhnovVA_solution-checkpoint.ipynb
3_quarter/LybraryPythonFirDataScienceNext/course_project/catboost_info/tmp/cat_feature_index.ef8ea485-58f8be2d-e576b3a3-81d3c0bd.tmp
3_quarter/LybraryPythonFirDataScienceNext/course_project/catboost_info/tmp/cat_feature_index.ebe184ef-2907220e-f49f5459-5df1a7a4.tmp
3_quarter/LybraryPythonFirDataScienceNext/course_project/catboost_info/tmp/cat_feature_index.9230d789-48db472a-1cff1072-aab5874.tmp
3_quarter/LybraryPythonFirDataScienceNext/course_project/catboost_info/tmp/cat_feature_index.6d61a7e4-e05c13ef-e646e6ed-75fbc29d.tmp
3_quarter/LybraryPythonFirDataScienceNext/course_project/catboost_info/tmp/cat_feature_index.22ce3035-b8fc8f96-83ce2442-1e27859c.tmp
3_quarter/LybraryPythonFirDataScienceNext/course_project/catboost_info/time_left.tsv
3_quarter/LybraryPythonFirDataScienceNext/course_project/catboost_info/learn_error.tsv
3_quarter/LybraryPythonFirDataScienceNext/course_project/catboost_info/learn/events.out.tfevents
3_quarter/LybraryPythonFirDataScienceNext/course_project/catboost_info/catboost_training.json
3_quarter/LybraryPythonFirDataScienceNext/course_project/final/Архив 2.zip
3_quarter/LybraryPythonFirDataScienceNext/course_project/RozhnovVA_solution.ipynb — к.textClipping
3_quarter/LybraryPythonFirDataScienceNext/course_project/final/catboost_info/time_left.tsv
3_quarter/LybraryPythonFirDataScienceNext/course_project/final/catboost_info/learn_error.tsv
3_quarter/LybraryPythonFirDataScienceNext/course_project/.ipynb_checkpoints/RozhnovVA_solutionC-checkpoint.ipynb
3_quarter/LybraryPythonFirDataScienceNext/3/cross_val.png
3_quarter/LybraryPythonFirDataScienceNext/3/catboost_info/tmp/cat_feature_index.fdde94e3-aba1b1af-e6e44673-b2139cea.tmp
3_quarter/LybraryPythonFirDataScienceNext/3/catboost_info/tmp/cat_feature_index.75f82125-24343f6d-eec519b2-f248f925.tmp
3_quarter/LybraryPythonFirDataScienceNext/3/catboost_info/tmp/cat_feature_index.5ccb2781-734bd3a5-6bd4d28a-17f1c6bc.tmp
3_quarter/LybraryPythonFirDataScienceNext/3/catboost_info/tmp/cat_feature_index.2f57c9a5-59841a0a-ec60de83-ef1b5548.tmp
3_quarter/LybraryPythonFirDataScienceNext/3/catboost_info/time_left.tsv
3_quarter/LybraryPythonFirDataScienceNext/3/catboost_info/learn_error.tsv
3_quarter/LybraryPythonFirDataScienceNext/3/catboost_info/learn/events.out.tfevents
3_quarter/LybraryPythonFirDataScienceNext/3/catboost_info/catboost_training.json
3_quarter/LybraryPythonFirDataScienceNext/3/balancing.png
3_quarter/LybraryPythonFirDataScienceNext/3/.ipynb_checkpoints/Untitled-checkpoint.ipynb
3_quarter/LybraryPythonFirDataScienceNext/3/.ipynb_checkpoints/Lesson03-checkpoint.ipynb
3_quarter/LybraryPythonFirDataScienceNext/2/training_project_data_prep.csv
3_quarter/LybraryPythonFirDataScienceNext/2/training_project_data.csv
3_quarter/LybraryPythonFirDataScienceNext/2/normal_distr.png
3_quarter/LybraryPythonFirDataScienceNext/2/Lesson02.ipynb
3_quarter/LybraryPythonFirDataScienceNext/2/Lesson02.html
3_quarter/LybraryPythonFirDataScienceNext/2/.ipynb_checkpoints/Lesson02-checkpoint.ipynb
3_quarter/LybraryPythonFirDataScienceNext/1/training_project_data_prep.csv
3_quarter/LybraryPythonFirDataScienceNext/1/training_project_data.csv
3_quarter/LybraryPythonFirDataScienceNext/1/roc-curve.png
3_quarter/LybraryPythonFirDataScienceNext/1/prec_vs_recall.png
3_quarter/LybraryPythonFirDataScienceNext/1/pr-curve.png
3_quarter/LybraryPythonFirDataScienceNext/1/multi_class.png
3_quarter/LybraryPythonFirDataScienceNext/1/Lesson01.ipynb
3_quarter/LybraryPythonFirDataScienceNext/1/Lesson01.html
3_quarter/LybraryPythonFirDataScienceNext/1/dt.jpg
3_quarter/LybraryPythonFirDataScienceNext/1/confusion_matrix.jpg
3_quarter/LybraryPythonFirDataScienceNext/1/bin_class2.jpg
3_quarter/LybraryPythonFirDataScienceNext/1/bin_class.png
3_quarter/LybraryPythonFirDataScienceNext/1/.ipynb_checkpoints/Lesson01-checkpoint.ipynb
3_quarter/LybraryPythonFirDataScienceNext/course_project/RozhnovVA_solutionC.ipynb
